* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  background-color: #F0EDE6;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

header {
  border-bottom: 2px solid black;
  height: 52px;
  display: flex;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

aside {
  width: 52px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

footer {
  background-color: #47B490;
  min-height: 136px;
  display: flex;
}

picture {
  flex-grow: 5;
  flex-shrink: 0;
  background-image: url('Images/Home/tutor_the_nation_cover.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem;
  height: calc(100vh - 64px - 1rem);
  position: sticky;
  top: 64px;
}

nav {
  padding-left: 12px;
}

a {
  font-size: 1.5rem;
  font-family: 'Clearface', serif;
  color: #030405;
}

a:hover {
  color: black
}

@media screen and (max-width: 1000px) {
  picture {
    display: none;
  }
  h1 {
    font-size: 6.5vw !important;
    width: 90% !important;
  }
  #project-container {
    width: 100% !important
  }
}

@media screen and (max-width: 600px) {
  aside {
    display: none !important;
  }
  nav {
    padding-right: 12px;
  }
  h1 {
    font-size: 10vw !important;
    width: 90% !important;
  }
  h2 {
    font-size: 1.3rem !important;
    width: 85% !important;
  }
  h3 {
    font-size: 1.75rem !important;
  }
  ul>a>p {
    margin-top: 2px !important;
  }
}

@font-face {
    font-family: 'clearfacebold';
    src: url('fonts/clearface_bold-webfont.woff2') format('woff2'),
         url('fonts/clearface_bold-webfont.woff') format('woff'),
         url('fonts/clearface_bold-webfont.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Assistant';
  font-style: normal;
  src: url('fonts/Assistant-Variable.ttf') format('ttf');
}

html {
  font-family: 'Assistant', sans-serif;
  font-weight: light;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, p {
  color: #030406;
  margin: 0;
}

h1 {
  font-size: 4.5vw;
  width: 85%;
  text-align: center;
  font-family: 'clearfacebold', serif;
  font-weight: bold;
}

h1.project-title {
  font-size: 4rem;
  text-align: left;
  width: unset
}

.text-lg {
  font-size: 1.5rem;
  width: 70% !important;
  margin-bottom: 48px;
  text-align: center;
  line-height: 1.6;
  font-weight: light;
}

h3 {
  font-family: 'clearfacebold', serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}

h4 {
  font-family: 'clearfacebold', serif;
  color: #030405;
  font-size: 1.5rem;
}

aside h4 {
  font-size: 1.2rem !important;
}

aside>div>p {
  font-size: 1.2rem;
  letter-spacing: 0.6px;
}

ul>a {
  padding: 12px 0;
  display: flex;
  text-decoration: none;
}

ul>a>div>p {
  font-size: 1.25rem;
  font-family: 'Assistant', sans-serif;
}

#project-container {
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  min-height: 100vh;
}

#project-list {
  flex-direction: column;
}

#project-list a {
  padding: 56px 56px;
  border-bottom: 2px solid black;
}

#project-list a:hover {
  background-color: #DD928A;
  color: black;
}

/* Home page stickers */

.enjoy-green {
  height: 120px;
  position: absolute;
  top: 19%;
  left: 9%;
}

.nice-day {
  height: 120px;
  position: absolute;
  bottom: 25%;
  right: 9%;
}

.smile-blue {
  height: 150px;
  position: absolute;
  bottom: 14%;
  right: 12%;
}

/* About me stickers */

.green-smile {
  height: 120px;
  position: absolute;
  top: 32px;
  right: -65px;
  transform: rotate(340deg);
  -webkit-transform: rotate(340deg);
}

.menu-links {
  font-family: 'Assistant', sans serif;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0 1.5rem;
  border: 2px solid black;
  border-radius: 22px;
  height: 36px;
  background-color: transparent;
  color: #030405;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-links:hover {
  background-color: #DD928A;
  color: black;
}

.menu-button {
  display: none
}

.menu-button:hover {
  background-color: rgba(0, 0, 0, 0.1) ;
  color: white;
}

.main-button {
  height: 48px;
  border-radius: 48px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #FEA200;
  font-weight: bold;
  font-size: 1.1rem;
  border: 2px solid black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.4s;
}

.main-button:hover {
  background-color: #2A7FD9;
  color: white;
}

.spinner {
  height: 140px;
  position: absolute;
  bottom: 48px;
  left: 48px;
  animation: spin 14s linear infinite;
}

.project-type {
  border: 1px solid black;
  border-radius: 48px;
  padding: 8px 12px;
  line-height: 1;
  font-weight: bold;
  font-size: 1.125;
}

.project-badges {
  background-color: #F0EDE6;
  border-radius: 48px;
  padding: 8px 12px;
  line-height: 1;
  font-weight: bold;
  font-size: 1.125;
  margin-right: 8px;
  margin-top: 32px;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.about-mobile-footer {
  display: none;
}

/* Mobile breakpoint (600px) */

@media screen and (max-width: 600px) {
  #project-container {
    width: 100%;
    min-height: 0px;
  }
  #project-list {
    border-right: unset
  }
  #project-list a {
    padding: 24px;
    gap: 16px
  }
  
  .navigation-arrow {
    height: 52px !important;
  }
  
  .text-lg {
    font-size: 1.375rem;
    line-height: 1.3;
    width: 90% !important
  }
  
  footer {
    flex-direction: column;
  }
  footer article {
    padding-top: 20px;
    padding-bottom: 24px
  }
  footer>article:nth-child(3) {
    border-top: 2px solid black;
    border-left: unset;
  }

  .thank-you {
    height: 72px !important;
    bottom: 24px !important;
    right: 84px !important;
  }
  
  .enjoy-green {
    height: 90px;
    top: 70px;
    left: 20px
  }
  .nice-day {
    height: 90px;
    bottom: 60px;
    right: 16px
  }
  .smile-blue {
    height: 110px;
    bottom: 16px;
    right: 50px
  }
  
  .green-smile {
    top: -8px !important;
    right: -4px !important;
    height: 100px;
  }
  
  .spinner {
    height: 120px !important;
    bottom: 24px !important;
    left: 24px !important;
  }
  .main-button {
    margin-top: unset !important;
  }
  .desktop {
    display: none !important;
  }
  .menu-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent; 
    color: black; 
    border: none;
    display: flex !important;
    align-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .menu-links {
    padding: 0 1rem;
    border: 2px solid black;
    border-radius: 22px;
    font-size: 1.1rem;
    height: 32px
  }
  .about-flex {
    flex-direction: column !important;
  }
  .mobile-remove-border {
    border: unset !important;
  }
  .about-mobile-footer {
    display: block;
  }
  .about-text-container {
    width: 100% !important;
  }
  .about-text {
    width: 100% !important;
    border-top: 2px solid black;
    padding: 32px 24px 24px 24px;
    margin-bottom: unset !important;
  }
  
  .work-project-summary {
    flex-direction: column-reverse !important;
  }
  
  .work-project-details {
    padding: 0px 24px 24px 24px !important;
    max-width: 100% !important;
    border-right: unset !important;
  } 
  
  .work-project-description {
    font-size: 1.125rem !important;
    line-height: auto !important;
    margin-bottom: 24px;
    margin-top: 8px;
  }
  
  .work-navigation-arrow {
    height: 40px !important;
  }
}

/* Utilities */

.hidden {
  display: none !important
}

.flex {
  display: flex
}

.hflex {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vflex {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cflex {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.border {
  border: 2px solid black;
}

.border-l {
  border-left: 2px solid black;
}

.border-r {
  border-right: 2px solid black;
}

.border-t {
  border-top: 2px solid black;
}

.border-b {
  border-bottom: 2px solid black;
}

.space-0 {
  margin: 0;
  padding: 0;
}